<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksDesktop extension
 * NOTICE OF LICENSE
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <qbdesktop>
            <qbd_setting>
                <quickbook_version>2</quickbook_version>
                <number_tax>10</number_tax>
                <scheduler>100</scheduler>
                <date_customer>1970-01-01 00:00:00</date_customer>
                <date_product>1970-01-01 00:00:00</date_product>
                <date_sales_order>1970-01-01 00:00:00</date_sales_order>
                <date_invoice>1970-01-01 00:00:00</date_invoice>
                <date_credit_memo>1970-01-01 00:00:00</date_credit_memo>
                <customer_setting>
                    <sync_to_a_customer>0</sync_to_a_customer>
                </customer_setting>
            </qbd_setting>
        </qbdesktop>
    </default>
</config>
