<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksDesktop extension
 * NOTICE OF LICENSE
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\User\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_user</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\User</argument>
        </arguments>
    </virtualType>
    <!--<virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Queue\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
        <!--<arguments>-->
            <!--<argument name="mainTable" xsi:type="string">magenest_qbd_queue</argument>-->
            <!--<argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Queue</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->

    <type name="Magenest\QuickBooksDesktop\Model\ResourceModel\Queue\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_queue</argument>
            <argument name="eventPrefix" xsi:type="string">magenest_qbd_queue_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">magenest_qbd_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Queue</argument>
        </arguments>
    </type>

    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Ticket\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_ticket</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Ticket</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Customer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_mapping_customer</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_mapping_product</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Price\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_price_level_list</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Price</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quickbooksdesktop_user_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\User\Grid\Collection</item>
                <item name="quickbooksdesktop_queue_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Queue\Grid\Collection</item>
                <item name="quickbooksdesktop_ticket_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Ticket\Grid\Collection</item>
                <item name="quickbooksdesktop_customer_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Customer\Grid\Collection</item>
                <item name="quickbooksdesktop_product_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Product\Grid\Collection</item>
                <item name="quickbooksdesktop_price_level_list_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Price\Grid\Collection</item>
                <item name="quickbooksdesktop_mapping_listing_data_source" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Mapping\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="check-exception-connect" type="Magenest\QuickBooksDesktop\Plugin\Request\CsrfValidator" sortOrder="1" disabled="true"/>
    </type>

    <virtualType name="Magenest\QuickBooksDesktop\Model\ResourceModel\Mapping\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_qbd_mapping</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\QuickBooksDesktop\Model\ResourceModel\Mapping</argument>
        </arguments>
    </virtualType>

</config>
