<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksDesktop extension
 * NOTICE OF LICENSE
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenest_QuickBooksDesktop" setup_version="2.1.21">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
