<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_QuickBooksDesktop extension
 * NOTICE OF LICENSE
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="qbdesktop_updateCustomer" instance="Magenest\QuickBooksDesktop\Observer\Adminhtml\Customer\Update"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="qbdesktop_syncItem" instance="Magenest\QuickBooksDesktop\Observer\Adminhtml\Item\Update"/>
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="qbdesktop_syncItem_attribute_update" instance="Magenest\QuickBooksDesktop\Observer\Adminhtml\Item\UpdateAttribute"/>
    </event>
    <event name="catalog_product_delete_after">
        <observer name="qbdesktop_syncItem_delete" instance="Magenest\QuickBooksDesktop\Observer\Adminhtml\Item\Delete"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="qbdesktop_creditmemoAdd" instance="Magenest\QuickBooksDesktop\Observer\Adminhtml\CreditMemo\Create"/>
    </event>
</config>