<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="staff_staff_listing_data_source" xsi:type="string">Magenest\Staff\Model\ResourceModel\Staff\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\Staff\Model\ResourceModel\Staff\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_staff</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Staff\Model\ResourceModel\Staff</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="changePriceProduct" type="Magenest\Staff\Plugin\UpdatePriceProduct" sortOrder="10"/>
    </type>
    <virtualType name="Magento\CatalogSearch\Block\SearchResult\ListProduct">
        <plugin name="changPrice" type="Magenest\Staff\Plugin\UpdatePriceProduct"/>
    </virtualType>

</config>
