<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="customer_save_after_observer" instance="Magenest\Staff\Observer\UpdateMagenestStaff"/>
    </event>
</config>
